<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink = "/electric-guitars"><small class="text-muted">Electric Guitars</small></a>
        <a class="nav-item nav-link" routerLink = "/acoustic-guitars"><small class="text-muted">Acoustic Guitars</small></a>
        <a class="nav-item nav-link" id = "bass" routerLink = "/bass-guitars"><small class="text-muted">Bass Guitars</small></a>
      </div>
    </div>
  </nav>

