
<div class = "row">
    <h1>Find Your Ideal Guitar</h1>
    <p>Shop for your ideal guitar and start learning today,<br> or look to expand your collection if you are already a player.</p>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-secondary" routerLink ="/all-products">SHOP NOW</button>
        </div>
        <div class="col-sm">
            
        </div>
        <div class="col-sm">
           
                
                
              </div>
      </div>


